body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin: 0;
    color: white;
}

.help {
    position: absolute;
    text-align: right;
    right: 0px;
    bottom: 3vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.letter {
    background: rgb(255, 254, 254);
    color: black;
    filter: brightness(85%);
    border-radius: 1vh;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    margin: 0;
    font-size: 1.5vh;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), /* diffuse shadow behind the button */
    0px 7px 13px -3px rgb(45 35 66 / 30%), /* shadow offset to the bottom for depth */
    inset 0px -3px 0px #d6d6e7; /* boottom "edge" of the button */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: auto; 
}

.what {
    margin-right: 0.5vh;
    font-size: 1.5vh;
    width: 50px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.infor {
    padding: 10px;
    padding-right: 5vh;
    width: 100%;
}